@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Smooth scrolling for the whole page */
html {
	scroll-behavior: smooth;
	background-color: #9d96f5; /* Matches kpr-purple */
}
